[Unit]
Description=Simple storage for my links across devices.

[Service]
Type=simple
Restart=always
RestartSec=5s

WorkingDirectory=/home/obi/links
ExecStart=/home/obi/links/main


[Install]
WantedBy=multi-user.target